
*{
	/*border:1px dashed blue;
	/* ^ Only for testing element boxes ^ */
	margin: 0;
	padding: 0;
	cursor: default;
	box-sizing: border-box;
}

/*use this when you need somthing to disappear. For examample: if you need
the red exclaimation points to disappear because nothing's changed there'*/

.none{
	display: none;
}

.darken{
	background-color: rgba(0,0,0,.75);
	width: 100%;
	height: 100%;
}

/*Id for the header (dark bar at the top of the website)*/
#header{
	background-color: #111111;
	position: fixed;
	top: -10px;
	left: 0px;
	width: 100%;
}
/*The ID for the icon in the header*/
.icon{
	width: 100px;
	height: 100px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
}
/*the Id for the text to the left of the icon*/
#headerText{
	display: inline-block;
	float: left;
}
/*The Id for the register and login buttons*/
#headerRegLog{
	display: inline-block;
	float: right;
}

#registerButton{}
#loginButton{}

#regLog{
	top:0;
	left:0;
	position: fixed;
	width: 100%;
	height: 100%;
}

#regLogContainer1{
	top: 200px;
	position: relative;
	background-color: #111111;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
}

#regLogContainer2{
	position: relative;
	background-color: #444444;
	width: 600px;
	margin: 0 auto;
}

#register{
	border: 5px #222222 solid;
	width: 500px;
	opacity: 1.0;
	
	text-align: center;
}

#regClose{}

.redX{
	width: 32px; 
	height: 32px; 
	margin: 4px; 
	cursor:pointer;
	position:absolute;
	right:0;
	top:0;
}

.redX:hover{
	width: 36px; 
	height: 36px; 
	margin: 2px; 
}

.formInput{
	cursor:text;
	padding:6px;
	border-radius:8px;
	width: 196px;
	height: 28px;
	border: 2px #000000 solid;
	outline:none;
}

.formInput::-webkit-input-placeholder{font-family: Verdana; font-weight: bold; font-size: 12px; color:#000000;}
.formInput::-moz-placeholder{font-family: Verdana; font-weight: bold; font-size: 12px; color:#000000;}
.formInput:-ms-input-placeholder{font-family: Verdana; font-weight: bold; font-size: 12px; color:#000000;}


.formInput:focus{
	box-shadow: 0 0 1pt 1pt #000000;
}

#registerEmail{background-color: #555555;}
#registerUsername{background-color: #555555;}
#registerPassword{background-color: #555555;}
#registerPasswordConfirm{background-color: #555555;}

/*the Id for the pull down just below the header
NOTE: all "subHeader..." are a part within this*/
#subHeader{
	background-color: #333333;
	position: fixed;
	top: 58px;
	left: 0px;
	width: 100%;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
}
/*This just puts the page name and exclaimation point into the same box
so that they stay together as one*/
#subHeaderBox{
	background-color: #222222;
	border-radius: 4px;
	margin: 6px 2px 10px 2px;
	display: inline-block;
	cursor: pointer;
}
/*This is the red exclaimation point.
Used when something has changed on that page that people need to know about
example: we recently found out that computer club was canceled this week*/
.AlertIcon{
	display: inline-block;
	margin: 6px 0px 0px 0px;
	float: right;
	height: 24px;
	width: 24px;
	cursor: pointer;
}
/*The next for are just Ids to help javascript identify each box idividually*/
#subHeaderHomeButton{}

#subHeaderInformationButton{}

#subHeaderProjectsButton{}

#subHeaderAboutUsButton{}

.scroller{
	background-color: #222222;
	height: 175px;
	position:relative;
	cursor: pointer;
	width: 10px;
	border-radius: 5px;
	float: right;
	border-width: 0px;
	left: 10px;
}

#projectScroller{}
#informationScrolller{}

.pageContent{
	position: absolute;
	width: 100%;
}

#projectsContent{}
#informationContent{}

.pageBlock{
	height: 108px;
}

#home{
	background-color: #aaaaaa;
	height: 100%;
	border: 10px #707070 solid;
	position: fixed;
	left: 0%;
	width: 100%;
}

/*--- Information Page's Ids and Classes' ---*/
#information{
	background-color: #aaaaaa;
	height: 100%;
	border: 10px #707070 solid;
	position: fixed;
	left: 100%;
	width: 100%;
}

#informationTitle{
}

/*--- Used to center the calendar ---*/
#calendar-container{
	text-align:center;
	margin: 5px;
	background-color: #ccccff;
	border:5px solid #444444;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#calendar{
	text-align:center;
	width:100%;
	height: 100%;
	border-width: 5px;
}

/*--- Projects Page's Ids and Classes' ---*/
#projects{
	background-color: #aaaaaa;
	height: 100%;
	border: 10px #707070 solid;
	position: fixed;
	left: 200%;
	width: 100%;
}

#projectsTitle{}

#projectHeaderBox{
	background-color: #222222;
	border-radius: 4px;
	margin: 6px 2px 10px 2px;
	display: inline-block;
}

/* Lets Javascript identify each project by id */
#projectWebsiteHeader{}
#projectWebsiteContent{height: auto;}
#projectWebsiteTriangle{transform: rotate(0deg);}

#projectCalculatorHeader{}
#projectCalculatorContent{height: auto;}
#projectCalculatorTriangle{transform: rotate(0deg);}

.projectHeader{
	display:inline-block;
	background-color:#707070;
	width: 100%;
	text-align:left;
	border-bottom: 2px solid #444444;
	border-top: 3px solid #444444;
	cursor: pointer;
}

.trianglePullDown{
	display:inline-block;
	margin: 8px;
	width: 24px;
	height: 24px;
	float:right;
	cursor: pointer;
}

.projectFooter{
	background-color:#707070;
	width: 100%;
	text-align:left;
	border-bottom-right-radius:16px;
	height:24px;
	border-bottom: 4px solid #444444;
	border-top: 2px solid #444444;
	margin-bottom: 24px;
}

.computerIcon{
	float:left; 
	display:block; 
}

.projectContent{
	overflow: hidden;
}

.projectDescription{
	display:block; 
	overflow: auto;
	float: right;
	padding: 6px;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: justify;
	font-size: 20px;
}

.projectTeamList{
	display:inline-block;
	width: 100%;
}

.projectPlan{
	display:inline-block; 
	width:100%; 
}

.progressBarBackground{
	width:25%; 
	background-color: #ff0000; 
	float:right; 
	margin:6px;
	border-radius: 4px;
	position: relative;
}

.progressBarForeground{
	width: 100%;
	background-color: #00ff00;
	float:left;
	border-radius: 3px;
	height: 24px;
}

#aboutUs{
	background-color: #aaaaaa;
	height: 100%;
	border: 10px #707070 solid;
	position: fixed;
	left: 300%;
	width: 100%;
}

#footer{
	background-color: #333333;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height:40px;
	width: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: center;
	overflow: hidden;
}

/* ------THESE ARE THE TEXT STYLES FOR THE WEBSITE------ */

.textStyle1{
	color: #ccccff;
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	font-size: 24px;
	padding: 18px 0px 0px 0px;
}

.textStyle2{
	display: inline-block;
	padding: 6px;
	margin: 10px 10px 10px 10px;
	color: #ccccff;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
/* Changes the color of the register and login button when moused over.*/
.textStyle2:hover{
	display: inline-block;
	padding: 6px;
	margin: 10px 10px 10px 10px;
	color: #6969FF;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	cursor: pointer;

}

.textStyle3{
	float: left;
	padding: 6px;
	color: #ccccff;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
/*Same as style 2 hover*/
.textStyle3:hover{
	float: left;
	padding: 6px;
	color: #6969FF;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	color: 6969FF;
}
.textStyle4{
	
	padding: 6px;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}
.textStyle5{
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	padding: 4px;
}
.textStyle6{
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	font-size: 16px;
	padding: 4px;
}
.textStyle7{
	color: #ccccff;
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	font-size: 16px;
	padding: 4px;
	font-size: 24px;
}

.textStyle8{
	padding: 6px;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	font-size: 24px;
	cursor: pointer;
}

.textStyle9{
	float: left;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: right;
	font-size: 20px;
	padding: 6px;
}

.textStyle10{
	float:right;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
	padding: 6px;
}

.textStyle11{
	float:center;
	text-align: center;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	font-size: 24px;
	padding: 6px;
}

.textStyle12{
	float:center;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	padding: 2px;
	position: absolute;
	width: 100%;
	margin-top: -4px;
}

.textStyle13{
	float:left;
	color: #111111;
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
	padding: 4px;
	display: block;
	clear: both;
	margin-left: 20px;
}

.textStyle14{
	padding: 6px;
	color: #ccccff;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 28px;
}

.homeHeader{
	display: block;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	color: #111111;
}